node_modules/
.envrc
migrations
dist/

# hardhat
artifacts/
cache/
cache-ovm/
build/

# dotenv
.env

# typechain
typechain-types/*.js
typechain-types/*.ts
typechain-types/factories/*
!typechain-types/factories/ERC721Facet__factory.ts
!typechain-types/factories/GeoWebParcelFacet__factory.ts
!typechain-types/factories/PCOLicenseClaimerFacet__factory.ts
!typechain-types/factories/PCOLicenseParamsFacet__factory.ts
!typechain-types/factories/CFABasePCOFacet__factory.ts
!typechain-types/factories/CFAPenaltyBidFacet__factory.ts

# tests-typechain
!typechain-types/IERC721.ts
!typechain-types/PCOLicenseClaimerFacet.ts
!typechain-types/IDiamondLoupe.ts
!typechain-types/PCOLicenseParamsFacet.ts
!typechain-types/ISuperfluid.ts

# solidity-coverage
coverage/

# abi exporter
abi/@openzeppelin
abi/contracts/mock

# solidity-coverage
coverage.json
coverage/
