node_modules/
.envrc
migrations
dist/

# hardhat
artifacts/
cache/
cache-ovm/
build/

# dotenv
.env

# typechain
typechain-types/*.js
typechain-types/*.ts
typechain-types/factories/*
!typechain-types/factories/RegistryDiamond__factory.ts
!typechain-types/factories/PCOLicenseDiamond__factory.ts

# tests-typechain
!typechain-types/IERC721.ts
!typechain-types/PCOLicenseClaimerFacet.ts
!typechain-types/IDiamondLoupe.ts
!typechain-types/PCOLicenseParamsFacet.ts
!typechain-types/ISuperfluid.ts

# solidity-coverage
coverage/

# abi exporter
abi/@openzeppelin
abi/contracts/mock

# solidity-coverage
coverage.json
coverage/

.direnv

.openzeppelin/unknown-31337.json

