node_modules/
.envrc
.openzeppelin/unknown-1337.json
.openzeppelin/unknown-31337.json
migrations
dist/

# hardhat
artifacts/
cache/
cache-ovm/
build/
deployments/

# zkSync
contracts/tmp

# dotenv
.env

# typechain
typechain-types/*.js
typechain-types/*.ts
typechain-types/factories/*
!typechain-types/factories/ERC721License__factory.ts
!typechain-types/factories/GeoWebCoordinate__factory.ts
!typechain-types/factories/GeoWebParcel__factory.ts
!typechain-types/factories/AuctionSuperApp__factory.ts

# tests-typechain
!typechain-types/AuctionSuperApp.ts
!typechain-types/ISuperfluid.ts
!typechain-types/MockClaimer.ts

# solidity-coverage
coverage/
# abi exporter
abi/@openzeppelin
abi/contracts/mock

# solidity-coverage
coverage.json
coverage/
